<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.min.todo.repository.TodoMapper">

    <sql id="search">
        <if test="pageDto.keyword != null and pageDto.keyword != ''">
            AND (title like concat('%',${pageDto.keyword},'%'))
        </if>
    </sql>

    <insert id="save" parameterType="TodoDto">
        <selectKey resultType="long" keyProperty="position" order="BEFORE">
            SELECT IFNULL(MAX(position), 0)+1 FROM todo where done = false
        </selectKey>
        Insert into todo (title,username,done,position,created_date,updated_date)
        values (#{title},#{username},false,#{position},now(),now());
    </insert>

    <update id="modify" parameterType="TodoDto">
        Update todo set title=#{title},updated_date=now() where tno=#{tno}
    </update>

    <update id="done" parameterType="long">
        Update todo
        set done=!done,updated_date=now()
        where tno=#{tno}
    </update>

    <delete id="delete" parameterType="List">
        delete from todo
        where tno in
        <foreach collection="list" item="tno" separator="," open="(" close=")">
            #{tno}
        </foreach>
    </delete>

    <select id="findById" resultType="TodoDto">
        select tno,title,username,done,position,created_date,updated_date
        from todo
        where tno = #{tno}
    </select>

    <select id="getSearchedListWithUser" resultType="TodoDto">
        select tno,title,username,done,position,created_date,updated_date
        from todo
        where username = #{username}
        <include refid="search"/>
        order by position
        limit #{pageDto.skip} , #{pageDto.size}
    </select>

    <select id="countAll" resultType="long">
        select count(tno)
        from todo
        where username = #{username}
        <include refid="search"/>
    </select>

    <update id="changePosition">
        update todo set position=0 where tno=#{todoDto.tno};
        <if test="todoDto.position gt target">
            <![CDATA[
            update todo
            set position = (position + 1)
            where position >= #{target}
            and position < #{todoDto.position}
            and done = #{todoDto.done};
            ]]>
        </if>
        <if test="todoDto.position lt target">
            <![CDATA[
            update todo
            set position = (position - 1)
            where position > #{todoDto.position}
            and position <= #{target}
            and done = #{todoDto.done};
            ]]>
        </if>
        update todo set position = #{target} where tno=#{todoDto.tno};
    </update>

    <update id="changePositionAndDone">
        Update todo
        set position=(SELECT IFNULL(MAX(position), 0)+1 FROM todo where done = 1- #{todoDto.done}),updated_date=now(),done = 1- #{todoDto.done}
        where tno=#{todoDto.tno};
        <![CDATA[
        update todo
        set position = (position - 1)
        where position > #{todoDto.position}
        and done = #{todoDto.done};

        update todo
        set position = (position + 1)
        where position >= #{target}
        and position < (SELECT IFNULL(MAX(position), 0) FROM todo where done = 1- #{todoDto.done})
        and done = 1- #{todoDto.done};
        ]]>
        update todo set position = #{target} where tno=#{todoDto.tno};
    </update>
</mapper>