<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.min.todo.repository.UserMapper">
    <select id="findByUsername" resultType="UserDto">
        SELECT * FROM user WHERE username = #{username}
    </select>

    <insert id="save" parameterType="UserDto">
        INSERT INTO user (username, password, create_date, updated_date) values (#{username}, #{password}, now(), now())
    </insert>
</mapper>