<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.min.todo.repository.UserMapper">

    <resultMap id="userMap" type="UserDto">
        <id property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="createdDate" column="created_date"/>
        <result property="updatedDate" column="updated_date"/>
        <collection property="roles" resultMap="roleMap"/>
    </resultMap>

    <resultMap id="roleMap" type="UserRole">
        <result property="username" column="username"/>
        <result property="role" column="role"/>
    </resultMap>

    <select id="findByUsername" resultMap="userMap">
        SELECT u.username,
               password,
               created_date,
               updated_date,
               role
        FROM user u
        left outer join user_role role
        on u.username = role.username
        WHERE u.username = #{username}
    </select>

    <insert id="save" parameterType="UserDto">
        INSERT INTO user (username, password, created_date, updated_date) values (#{username}, #{password}, now(), now())
    </insert>

    <insert id="setRole" parameterType="UserRole">
        INSERT INTO user_role (username, role) values (#{username}, #{role})
    </insert>

    <update id="modify" parameterType="UserDto">
        Update user set password=#{password} where username=#{username}
    </update>

    <delete id="deleteById" parameterType="String">
        delete from user where username=#{username}
    </delete>

    <delete id="deleteRole" parameterType="String">
        delete from user_role where username=#{username}
    </delete>

</mapper>